[Unit]
Description=My Sample Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/pi/bookshelf-lights/bookshelf-lights.sh

[Install]
WantedBy=multi-user.target